body {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    padding: 0rem;
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-columns {
        column-count: 4;
    }
}

#bottom_text {
    position: absolute;
    bottom: 20%;
    left:   calc((100% - 110px)/2);;
}